[submodule "submodules/yoctoproject/bitbake"]
	path = submodules/yoctoproject/bitbake
	url = https://git.openembedded.org/bitbake
	branch = 1.40
[submodule "submodules/yoctoproject/yocto-autobuilder-helper"]
	path = submodules/yoctoproject/yocto-autobuilder-helper
	url = https://git.yoctoproject.org/git/yocto-autobuilder-helper
	branch = thud
[submodule "layers/ngenetzky/meta-genet"]
	path = layers/ngenetzky/meta-genet
	url = https://github.com/NGenetzky/meta-genet.git
[submodule "layers/ngenetzky/meta-bb-project-base"]
	path = layers/ngenetzky/meta-bb-project-base
	url = https://gitlab.com/ngenetzky/meta-bb-project-base.git
[submodule "layers/ngenetzky/meta-bb-ngenetzky"]
	path = layers/ngenetzky/meta-bb-ngenetzky
	url = https://gitlab.com/ngenetzky/meta-bb-ngenetzky.git
